<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/builder/tests" />
        <option value="$PROJECT_DIR$/singleton/tests" />
        <option value="$PROJECT_DIR$/observer/tests" />
        <option value="$PROJECT_DIR$/factory/tests" />
        <option value="$PROJECT_DIR$/decorator/tests" />
      </list>
    </option>
  </component>
</project>